{% extends 'app1/base.html'%}
{% load static %}
 <title>{{mainworker}}-Unread Messages</title>
{% block unread %}    
<div class="container">
        <div class="row">
            <div class="col-xl-6">
                <h1> Unread Messages</h1>
            </div>
            <div class="col-xl-6">
                <h2>Contents</h2>
            </div>
        </div>
    </div>
    
    </br</br></br></br>
    <style>
        table, td, th { border: 1px solid black; }
        table {
            height:390px;
            border-collapse: collapse;
            width: 100%;
        }
        th {
            background-color: #4CAF50;
            color: white;
        }
        tr {
            height:unset;
        }
        td {
            font-family:Consolas; 
            font-size:x-large;
        }
        th, td {
            border-bottom: 1px solid #ddd;
        }
        tr:nth-child(even) {background-color:papayawhip;}
        tr:hover {background-color:aquamarine;}
        

    </style>
    <div class="container col-lg-12">
        <div class="row">
            <div class="col-xl-6">
                <div class="cutlist">
                    <table style="text-align:center" class="table table-warning" id="mestable">
                        <thead>
                        <tr>
                            <th style="width:30% ; font-family:'Times New Roman'; font-size:x-large"> Sender </th>
                            <th style="width:50% ; font-family:'Times New Roman'; font-size:x-large"> Title </th>
                            <th style="width:10% ; font-family:'Times New Roman'; font-size:x-large"> Accepted </th>
                            <th style="width:10% ; font-family:'Times New Roman'; font-size:x-large"> Deal </th>
                        </tr>
                            </thead>

                        <tbody id="Tbody_id" style="border:thin 1px black;" >
                            {% for z in unreadmessages %}
                               <tr style="cursor:pointer">
                                    <td id="ID_id" hidden>{{z.id}}</td>    
                                    <td id="sender_id" style="font-family:'Courier New'; 
                                        font:bolder; font-style:oblique; font-size:large;">
                                        <h5 id="S_id">{{z.sender}}</h5>
                                    </td>
                                    <td><h6 id="T_id">{{z.title}}</h6></td>
                                    <td id="isAccepted_id">
                                        {% if z.isAccepted %} <h5 style="color:indianred">YES</h5>  
                                        {% else %} <h5 style="color:lawngreen">NO</h5>
                                        {% endif %}
                                        </td>
                                    <td><input type="checkbox" value="Approved"/> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
       
            <div class="col-lg-6">
                <textarea  cols="90" rows="16" id="Textarea_id"></textarea>
                </br></br></br></br></br>
            </div>
        </div>
    </div>


<script>
    $("#mestable tbody tr #S_id").on('click', function () {
        var send = $(this).text().trim();
        if (confirm("Do you want to see all the messages from " + send + " ?"))
        {
            $.ajax({
                type: 'get',
                url: '../ajchecksendermails',
                data: {'send':send},
                dataType: 'json',
                success: function (data) {
                    var sendermails = JSON.parse(data.datasender);
                    $("#Tbody_id").empty();
                    for (i = 0; i < sendermails.length; i++) {
                        var st0 = '<td id="ID_id" hidden>' + sendermails[i].pk + '</td> ';
                        var st1 = '<td id="sender_id" style="font-family:\'Courier New\';' +
                            'font:bolder; font-style:oblique; font-size:large;">' +
                            '<h5 id="S_id">' + send + '</h5></td>';
                        var st2 = '<td id="title_id"><h6>' + sendermails[i].fields.title + ' </h6></td>';
                        var st3 = '<td id="isAccepted_id">';
                        if (sendermails[i].fields.isAccepted) { st3 += '<h5 style="color:indianred">YES</h5>'; }
                        else { st3 += '<h5 style="color:lawngreen">NO</h5>'; }
                        st3 += '</td>';
                        var st4 = '<td><input type="checkbox" value="Approved"/> </td>' ;
                        $("#mestable tbody").append('<tr id ="Row_id" style="cursor:pointer">' + st0 + st1 + st2 + st3 + st4 + '</tr>');
                    }
                    $("#mestable tbody tr").on('click', function () {
                        var idid = $(this).children("#ID_id").text();
                        $.ajax({
                            url: '../ajshowcontent',
                            data: { 'idid': idid },
                            dataType: 'json',
                            success: function (data) {
                                $("#Textarea_id").text(data.contnt);
                            }
                        });
                    });
                }
            });
        }
    });
    
    $("#mestable tbody tr").on('click', function () {
        var idid = $(this).children("#ID_id").text();
        $.ajax({
            url: '../ajshowcontent',
            data: { 'idid': idid },
            dataType: 'json',
            success: function (data)
            { 
                $("#Textarea_id").text(data.contnt);
            }
        });
    });
    $("#unread_id").addClass("active");
</script>
{% endblock %}